<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #personForm="ngForm" >
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="person.name" 
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Enter your name"
            #name="ngModel" required>
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" [(ngModel)]="person.email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter your email address"
            #email="ngModel" required>
          <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>
        </div>
        <div class="form-group">
          <label for="capacity">Capacity</label>
          <input type="text" [(ngModel)]="person.capacity" 
            class="form-control" 
            id="capacity" 
            name="capacity" 
            placeholder="Enter your capacity"
            #capacity="ngModel" required>
        </div>
        <div [hidden]="!capacity.pristine" class="alert alert-danger">Capacity is required</div>
        <button type="submit" [disabled]="!personForm.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
  