<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Capacity</th>
        </tr>
      </thead>
    <tbody>
      @for (person of persons; track person.id) {
        <tr>
          <td>{{ person.id }}</td>
          <td>{{ person.name }}</td>
          <td>
            @if (person.email) {
              <a [href]="'mailto:' + person.email">{{ person.email }}</a>
            } @else {
              <span>No email</span>
            }
          </td>
          <td>{{ person.capacity }}</td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4">No persons found.</td>
        </tr>
      }
    </tbody>
    </table>
  </div>
</div>
